.buttonsContainer {
    display: flex;
    gap: 21px;
}

.clock {
}

.watch {
}

.watch strong {
}

.more {
    color: rgba(0, 0, 0, 0.50);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}