.container {
}

.wrapper {
    display: flex;
    align-items: center;
}

.number {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-right: 15px;
    width: 20px;
}
